---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='404'>
  <section class='flex-1 flex flex-col justify-center items-center'>
    <h1 class='text-2xl font-medium'>404 - Page Not Found</h1>
    <p class='text-muted text-center'>
      Click <a href='/' class='text-foreground hover:underline'>here</a> to go back
      to the homepage.
    </p>
  </section>
</Layout>
