---
import Layout from '@/layouts/Layout.astro';
import HelloWorld from '@/components/Hello-World';
import ThemeToggle from '@/components/ThemeToggle';
import SoundToggle from '@/components/SoundToggle';
---

<Layout>
  <main
    class='relative z-10 flex flex-col items-center justify-center h-screen'
  >
    <HelloWorld />
    <div class='flex items-center justify-center gap-4 mt-4'>
      <ThemeToggle client:load />
      <SoundToggle client:load />
    </div>
  </main>
</Layout>
