---
import Layout from '@/layouts/Layout.astro';
import AboutMe from '@/components/AboutMe.astro';
---

<Layout>
  <section class='pt-16'>
    <h1 class='text-2xl font-medium'>Vasile Draguța</h1>
    <span class='text-muted text-sm'>/vah-SEE-leh drah-GOO-tsah/</span>
    <p class='text-muted text-lg'>swe based in cluj-napoca</p>
  </section>

  <section class='py-12'>
    <AboutMe />
  </section>
</Layout>
