<section class='max-w-4xl space-y-8 text-lg'>
  <p class='leading-relaxed'>
    i'm a software engineer currently in my third year studying computer science
    at Babeș-Bolyai University in Cluj-Napoca, Romania. i'm looking for
    opportunities to work with people who care about building things that
    matter.
  </p>

  <p class='leading-relaxed'>
    the tools i reach for most of the time are react, tailwindcss, motion and
    typescript. i build things that cure my own icks—smoothing out the rough
    edges i bump into in everyday apps.
  </p>

  <p class='leading-relaxed'>
    started programming because i wanted to take things apart and see how they
    actually work. it wasn’t just about the syntax, it was about the way things
    fit together. that drive to understand the 'why' is still what keeps me
    building today.
  </p>

  <p class='leading-relaxed text-muted'>
    i like technology, memes, sports, video games, and cats.
  </p>
</section>
