<section class='max-w-4xl space-y-6 text-lg'>
  <p class='leading-relaxed'>building things that sometimes work.</p>

  <p class='leading-relaxed'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris.
  </p>

  <p class='leading-relaxed'>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
  </p>
</section>
